IS_DOWN=no

# To get this send a dm to https://x.com/KaitoEasyAPI. They'll give you one for free
KAITO_API_KEY=...

OPENAI_API_KEY=sk-proj-...
OPENAI_MODEL=gpt-4o-mini

GEMINI_API_KEY=AI...
GEMINI_MODEL=gemini-1.5-flash-8b

XAI_API_KEY=xai-...
XAI_MODEL=grok-beta

GROQ_API_KEY=...
GROQ_MODEL=llama3-8b-8192

PROVIDERS=openai,google,xai,groq

ADMIN_KEY=...

TURNSTILE_SITE_KEY=...
TURNSTILE_SECRET_KEY=...