# Get the gemini API key: https://aistudio.google.com/
GEMINI_API_KEY=

# To get this send a dm to https://x.com/KaitoEasyAPI. They'll give you one for free
KAITO_API_KEY=

GEMINI_MODEL=gemini-1.5-flash-latest